/**
 * Default image styling
 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* to help fix broken file selector thumbnail view */
.media-thumbnail {
  min-height:165px;
  *height:165px;
  min-width:240px;
  *width:240px;
}
